.btn-tool{
	top: 15px;
	left: 15px;
	margin-top: 10px;
	background-color: #008CBA;
	color: white;
	font-size: 16px;

	border-color: #008CBA;
	border-radius: 2px;
	width: 70%;
	height: 45px;
}

.lbl{
	position:absolute;
	margin-left: 300px;
	margin-top: 200px;
	font-size: 16px;
	font-family: "Verdana";
}

.txtfld{
	position:absolute;
	margin-left: 455px;
	margin-top: 200px;
}
.textfield{
	width: 500px;
	height: 100px;
}
.button{
	width: 500px;
	height: 100px;
}

.btn{
	position:absolute;
	margin-left: 455px;
	margin-top: 200px;
}

.draggable {
    cursor: move;
}
.resizable {
    border: 1px dashed #000000;
    position: relative;
    min-height: 20px;
	overflow: hidden;
}
.ui-resizable-handle {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
}
.ui-resizable-nw {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}
.ui-resizable-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.ui-resizable-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
.ui-resizable-se {
    bottom: -5px;
    right:-5px;
    cursor: se-resize;
}
.ui-resizable-n {
    top: -5px;
    left:50%;
    cursor: n-resize;
}
.ui-resizable-s {
    bottom: -5px;
    left: 50%;
    cursor: s-resize;
}
.ui-resizable-w {
    left:-5px;
    top:calc(50% - 5px);
    cursor: w-resize;
}
.ui-resizable-e {
    right:-5px;
    top:calc(50% - 5px);
    cursor: e-resize;
}
